# This workflow will run terraform apply, which will deploy the infrastructure and the resourcespace instance

name: terraform apply

on:
  workflow_dispatch:
    inputs:
      env:
        description: select the environment to update
        type: environment
        required: true

env:
  TF_VERSION: 1.5.7
  environment: ${{ inputs.env }}

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  terraform:
    environment: ${{ inputs.env }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout the repository
        uses: actions/checkout@v4

      - name: print cloud_environment
        run: echo "The cloud environment is ${{ env.environment }}"

      - name: setting variables
        run: |
          cd src/terraform/
          cat <<EOF > dev.auto.tfvars
          target_env = "${{ env.environment }}"
          EOF

      - name: setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Debug OIDC claims (iss/aud/sub)
        run: |
          python - << 'PY'
          import os, json, base64, urllib.request

          url = os.environ["ACTIONS_ID_TOKEN_REQUEST_URL"]
          token = os.environ["ACTIONS_ID_TOKEN_REQUEST_TOKEN"]

          req = urllib.request.Request(url + "&audience=sts.amazonaws.com",
                                      headers={"Authorization": f"Bearer {token}"})
          resp = urllib.request.urlopen(req).read()
          data = json.loads(resp)
          jwt = data["value"]
          payload = jwt.split(".")[1] + "=="
          payload = base64.urlsafe_b64decode(payload).decode("utf-8")
          claims = json.loads(payload)

          print("iss:", claims.get("iss"))
          print("aud:", claims.get("aud"))
          print("sub:", claims.get("sub"))
          PY
        env:
          ACTIONS_STEP_DEBUG: true

      - name: configuring AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.TERRAFORM_DEPLOY_ROLE_ARN }}
          aws-region: ca-central-1

      - name: deploying bcparks-dam using terraform
        run: |
          cd src/terraform/
          cat <<EOF > backend.tf
          terraform {
            backend "s3" {
              bucket = "${{ vars.S3_BACKEND_NAME }}"
              key = "remote.tfstate-admin"
              region = "ca-central-1"
              dynamodb_table = "${{ vars.S3_BACKEND_NAME }}-lock"
              encrypt = true
            }
          }
          EOF

          terraform init -input=false
          terraform apply -auto-approve -input=false
        env:
          TF_VAR_branch_name: ${{ env.BRANCH_NAME }}